<a href="https://colab.research.google.com/github/siroj05/Tugas-Machine-Learning/blob/main/Week%201/_2_Your_First_Machine_Learning_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
iowa_file_path ='/content/drive/MyDrive/Colab/train.csv'
home_data = pd.read_csv(iowa_file_path)

In [ ]:
## Step 1: Specify Prediction Target

print(home_data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
y = home_data.SalePrice

In [ ]:
#Create X

In [ ]:
feature_names = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF", "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]
X = home_data[feature_names]

In [ ]:
## Review Data

In [ ]:
X.describe()

             LotArea    YearBuilt  ...  BedroomAbvGr  TotRmsAbvGrd
count    1460.000000  1460.000000  ...   1460.000000   1460.000000
mean    10516.828082  1971.267808  ...      2.866438      6.517808
std      9981.264932    30.202904  ...      0.815778      1.625393
min      1300.000000  1872.000000  ...      0.000000      2.000000
25%      7553.500000  1954.000000  ...      2.000000      5.000000
50%      9478.500000  1973.000000  ...      3.000000      6.000000
75%     11601.500000  2000.000000  ...      3.000000      7.000000
max    215245.000000  2010.000000  ...      8.000000     14.000000

[8 rows x 7 columns]

In [ ]:
X.head()

   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  TotRmsAbvGrd
0     8450       2003       856       854         2             3             8
1     9600       1976      1262         0         2             3             6
2    11250       2001       920       866         2             3             6
3     9550       1915       961       756         1             3             7
4    14260       2000      1145      1053         2             4             9

In [ ]:
## Step 3: Specify and Fit Model

In [ ]:
from sklearn.tree import DecisionTreeRegressor
iowa_model = DecisionTreeRegressor(random_state=1)
iowa_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]